<h1>Edit:</h1>
<form class="form-inline" ng-submit="sendEdited()" name="form">
  <div ng-hide="massage" class="form-group">
    <input type="text" class="form-control" name="language" ng-model="toEdit" required ng-minlength="3">
  </div>
  <div ng-show="massage" class="alert" ng-class="{ 'alert-danger': danger, 'alert-success': success }">{{massage}}</div>
  <input ng-hide="massage" class="btn btn-danger" type="submit" value="Edit" ng-disabled="form.language.$error.minlength || dataLoading || form.language.$error.required">

  <img ng-if="dataLoading" src="images/loader_pop.gif"/>
</form>